.post-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  h1, h2, h3, h4, h5, p, ul, ol, li {
    color: var(--color-white-100);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    a {
      color: var(--color-white-100);
      text-decoration: underline;
      text-decoration-color: var(--color-white-82);
      text-decoration-thickness: 1px;
      text-underline-offset: 3.96px;
    }
    a:hover {
      text-decoration-thickness: 2px;
      text-decoration-color: var(--color-white-100);
    }
  }
  img {
    margin: 0;
    display: block;
    object-fit: cover;
    border-radius: 0px;
    width: 100%;
    height: 20vh;
    object-position: center 50%;
  }
}

.post-content {
  max-width: 34rem;
  margin: 7.5rem auto;
  img {
    border-radius: 5px;
  }
}