.post-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	margin: 0 auto 7.5rem auto;

	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	ul,
	ol,
	li {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		a {
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: 3.96px;
		}
		a:hover {
			text-decoration-thickness: 2px;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		margin-bottom: 20px;
	}

	p ~ h2 {
		margin-top: 40px;
	}

	h3 ~ p {
		margin-top: -10px;
	}

	.post-header-image {
		position: relative;
		width: 100%;
		height: 400px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&:after {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			background-color: var(--color-secondary);
			mix-blend-mode: color;
		}
	}
}

.post-content {
	max-width: 34rem;
	margin: 60px 0;

	img {
		border-radius: 5px;
		margin: 40px 0;
		width: 100%;
		height: auto;
	}

	img.breakout,
	iframe.breakout {
		min-width: 44rem;
		margin-left: calc(50% - 22rem);
		margin-right: calc(50% - 22rem);
		border-radius: 5px;
	}
}

h1 {
	font-family: "Sohne Breit", sans-serif;
	line-height: 2.25rem;
	font-size: 28px;
	font-weight: 500;
}

h2 {
	font-family: "Sohne Breit", sans-serif;
	margin: 20px 0;
	font-size: 20px;
	font-weight: 500;
}

h3 {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 0.875rem;
	margin: 20px 0 0 0;
}

.subtitle {
	color: var(--color-secondary);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 0.875rem;
	margin: 20px 0 0 0;
}

h4 {
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	margin: 20px 0 0 0;
}

.date {
	margin: 20px 0;
}

ul,
ol {
	margin: 20px 0 20px 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

.block {
	font-weight: 400;
	margin: 16px 0 16px -40px;
	padding: 0;
	display: block;
}

iframe {
	border-radius: 5px;
}

/* Responsive breakpoints */
@media (max-width: 1024px) {
	.post-content {
		width: 72%;
	}
}

@media (max-height: 768px) {
	.post-content {
		width: 72%;
	}
}

@media (max-width: 430px) {
	.post-content {
		width: 80%;
	}

	h3 {
		line-height: 1.5rem;
	}

	img.breakout {
		min-width: 50% !important;
		margin: 16px 0 !important;
	}
}
