@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spark,
.spark-color {
  animation: rotate 30s linear infinite;
  transform-origin: center;
  will-change: transform;
  transition: scale 0.2125s var(--ease-out-ios);
}

.spark:hover,
.spark-color:hover {
  animation-play-state: paused;
  scale: 1.05;
}

.spark:active,
.spark-color:active {
  scale: 0.95;
  transition: scale 0.15s var(--ease-out-quart);
}

.spark-leaf {
  transition: fill 0.125s linear;
}

.spark:hover .spark-leaf-1 {
  fill: #8800FF;
  transition-delay: 0s;
}

.spark:hover .spark-leaf-2 {
  fill: #117D45;
  transition-delay: 0.025s;
}

.spark:hover .spark-leaf-3 {
  fill: #91F925;
  transition-delay: 0.05s;
}

.spark:hover .spark-leaf-4 {
  fill: #332BFD;
  transition-delay: 0.075s;
}

.spark:hover .spark-leaf-5 {
  fill: #FA0B54;
  transition-delay: 0.1s;
}

.spark:hover .spark-leaf-6 {
  fill: #FB42DF;
  transition-delay: 0.125s;
}

.spark:hover .spark-leaf-7 {
  fill: #FBA808;
  transition-delay: 0.175s;
}

.spark:hover .spark-leaf-8 {
  fill: #0BC1FA;
  transition-delay: 0.2s;
}
