.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 3.75rem;
  max-width: 34rem;
  margin: 7.5rem auto;
}

img {
  border-radius: 5px;
  margin: 20px 0;
}

span {
  font-weight: 600;
}

.breakout {
  min-width: 40rem;
  margin-left: calc(50% - 20rem);
  margin-right: calc(50% - 20rem);
  border-radius: 5px;
}

/* Responsive breakpoints */
@media (max-width: 1024px) {
  .about-page {
    width: 80%;
  }
}

@media (max-height: 768px) {
  .about-page {
    width: 80%;
  }
}

@media (max-width: 430px) {
  .about-page {
    width: 72%;
  }

  .breakout {
    min-width: 50%;
    margin: 0;
  }
}