@import "./theme.css";
@import "./fonts.css";
@import "./typography.css";

:root {
  /* background-color: var(--color-surface-base); */
  background-color: #1f1f1f;
}

html {
  color-scheme: light dark;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  /* background-color: var(--color-surface-base); */
  font-family: var(--font-family-default);
  color: var(--color-type-primary-100);
  font-feature-settings: "ss02" on, "ss05" on, "ss06" on, "ss08" on, "ss09" on, "ss10" on, "liga"
    off, "calt" off;
  min-width: 320px;
  margin: 0 auto;
}

body {
  /* min-height: 100vh; */

  &.no-scroll {
    overflow: hidden;
    height: 100%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--color-type-primary-100);
  text-decoration: none;
}